# Arquivos de configuração
config/db.ini
config/api.ini
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs e databases
*.log
*.sqlite
*.db

# Arquivos temporários
tmp/
temp/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover 